body{
    text-align: center;
    background-color: #8a9190;
}

header{
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: white;
}

#btn-voltar{
    width: 53px;
    height: 20px;
    background-color: rgba(46, 46, 230, 0.658);
    border-radius: 7px;
    border: none;
}

#dejejum{
    width: 90px;
    height: 108px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    background-color: #267365;
}

#almoco{
    width: 90px;
    height: 104px;
    padding-top: 16px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    background-color: #F2CB05;
}

#lanche{
    width: 90px;
    height: 102px;
    border-radius: 5px;
    border: none;
    background-color: #F23030;
}


button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

button{
    font-family: 'Roboto';
}

h1{
    font-family: 'Roboto';
}